div {
    .sub-menu {
        display: flex;
        flex-direction: column;
    }

    .sub-menu>* {
        text-decoration: none;
        color: #090909;
        transition: .3s;
        padding: 3px;

        &:hover {
            color: #909090;
            text-decoration: underline;
        }
    }
}