@import "../../../styles/variables.scss";

nav {
    ul {
        display: flex;
    }

    ul>* {
        padding: 2px;
        margin: 0 10px;
        text-decoration: none;
        color: $gray-darker-color;
        font-weight: bold;

        &:hover {
            color: $gray-dark-color;
        }
    }

}